.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.shape {
}
.line {
  color:#B6BFC8;
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-transform:none;
}
.outline_button {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#617385;
  text-transform:none;
}
.outline-graybutton {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
}
.small_button {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
}
.heading_1 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:28px;
  color:#617385;
  text-align:left;
}
.heading_2 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:25px;
  color:#617385;
  text-align:left;
}
.heading_3 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:22px;
  color:#617385;
  text-align:left;
}
.heading_4 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:19px;
  color:#617385;
  text-align:left;
}
.heading_5 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:17px;
  color:#617385;
  text-align:left;
}
.heading_6 {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:15px;
  color:#617385;
  text-align:left;
}
.paragraph {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#617385;
  text-align:left;
}
.paragraph-bold {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#617385;
  text-align:left;
}
.label {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
}
.paragraph-small_uppercase {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#617385;
  text-align:left;
  text-transform:uppercase;
}
.paragraph-small {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#617385;
  text-align:left;
}
.paragraph-small-bold {
  font-family:'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#617385;
  text-align:left;
}
.paragraph-small_italic {
  font-family:'Roboto Italic', 'Roboto', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:10px;
  color:#7F7F7F;
  text-align:left;
  text-transform:none;
}
.line1 {
  color:#B6BFC8;
}
.paragraph1 {
  text-align:left;
}
.heading_61 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.text_field {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.droplist {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
}
.checkbox {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
}
.table_cell {
}
.flow_shape {
}
.link {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.link_small {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
.shape1 {
}
.icon {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.line2 {
}
.icon1 {
}
.sidebar {
}
.box_3 {
}
.paginacao {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#617385;
}
.paragraph2 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.paragraph3 {
  color:#7F7F7F;
  text-align:left;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.box_11 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.image1 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
